#header {
    height: 0.88rem;
    background: #1e2b56;
}

.back {
    z-index:3;
    /*
    width: 15%;
    height: 100%;
    float: left;
    */
}

#header .back_img {
    width:40px;
    position: absolute;
    top: 7px;
    left: 5px;
    float: left;
}

.header_title {
    float: left;
    height: 100%;
    font-size: 30px;
    margin-left: 4rem;
    color: white;
    display: none;
}

.header_title span {
    margin-top: .15rem;
    display: inline-block;
}

.menu {
    width: 60%;
    float: right;
    height: 100%;
}

.menu_list {
    overflow: hidden;
    height: 100%;
}

.menu_item {
    float: left;
    display: flex;
    width: 14%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.menu_item p {
    font-size: .12rem;
    color: white;
}

.menu_item .menu_item_img {
    width: 45%;
    margin-bottom: 0.08rem;
}

img.usb_video {
    width:640px;
    height:480px;
    display: inline-block;
    position: relative;
}

img.usb_video::before {
    content: "";
    width: 100%;
    height: 480px;
    background-color: #ccc;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
}

img.usb_video::after {
    content: "Video is not started";
    text-align:center;
    padding-top:200px;
    font-size: 48px;
    color: rgb(100, 100, 100);
    display: block;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
}
